<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>设备管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" href="../assets/images/ilk/favicon.ico" />
	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="../assets/css/bootstrap.css" />
	<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../assets/css/ui.jqgrid.css" />
	<link rel="stylesheet" href="../assets/css/font-awesome.css" />
	<!-- text fonts -->
	<link rel="stylesheet" href="../assets/css/ace-fonts.css" />
	<!-- ace styles -->
	<link rel="stylesheet" href="../assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
	<!-- ilkService styles -->
	<link rel="stylesheet" href="../assets/css/ilk/ilk.css" />
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
	<![endif]-->
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../assets/css/ace-ie.css" />
	<![endif]-->
	<!-- ace settings handler -->
	<script src="../assets/js/ace-extra.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lte IE 8]>
	<script src="../assets/js/html5shiv.js"></script>
	<script src="../assets/js/respond.js"></script>
	<![endif]-->
	<!-- 样式异常 -->
	<link rel="stylesheet" href="../assets/css/jquery.gritter.css"/>
	<style type="text/css">
		.ace-nav > li {
			height: inherit;
			border-left: 0px;
		}
		.menu-text{
			width: 80px;
		}
		.dropdown-navbar.navbar-grey > li:hover {
			background-color: #FEE188;
		}
	</style>
</head>

<!-- 侧边栏菜单 -->
<script type="text/html" id="sideBarList">
	菜单项1
	<li>
		<a data-roleid="" href="">
			<i class="menu-icon fa fa-envelope"></i>
			<span class="menu-text">菜单项1</span>
		</a>
	</li>
	<li>
		<a data-roleid="" href="">
			<i class="menu-icon fa fa-envelope"></i>
			<span class="menu-text">菜单项2</span>
		</a>
	</li>
</script>

<!-- 功能菜单 -->
<script type="text/html" id="metro-list">
	<div class="m-metro2">
		<div class="metro-node">
			<div class="mn-content"><div>功能菜单1</div></div>
		</div>
		<div class="nav metro-cnode">
			<ul>
				<li title="功能菜单1">
					<a data-url="" href="">
						<span class="mcn-content">
							<i class="ht_icon KLP-iconfont"></i>
							<div>功能菜单11</div>
						</span>
					</a>
				</li>
				<li title="功能菜单2">
					<a data-url="" href="">
						<span class="mcn-content">
							<i class="ht_icon KLP-iconfont"></i>
							<div>功能菜单21</div>
						</span>
					</a>
				</li>
				<li title="">
					<a href="javascript:void(0);">
						<span class="mcn-content">
							<i class="mm-cnode-icons"></i>
							<span></span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</script>

<script type="text/html" id="noticeList">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		<i class="ace-icon fa fa-envelope icon-animated-bell"></i>
		<span class="badge badge-important"></span>
	</a>
	<ul class="dropdown-menu-right dropdown-navbar navbar-grey dropdown-menu dropdown-caret dropdown-close">
		<li>
			<a href="">
				<i class="btn btn-xs no-hover btn-black fa fa-comment"></i>
				<span class="pull-right badge badge-info">2</span>
			</a>
		</li>
	</ul>
</script>

<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default ilk-bg-header">
	<script type="text/javascript">
        try { ace.settings.check('navbar' , 'fixed') } catch(e) {}
	</script>

	<div class="navbar-container" id="navbar-container">
		<!-- #section:basics/sidebar.mobile.toggle -->
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only">切换侧边栏</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- /section:basics/sidebar.mobile.toggle -->
		<div class="navbar-header pull-left">
			<!-- #section:basics/navbar.layout.brand -->
			<a href="ajax.html" class="navbar-brand">
				<small>
					<img class="ilkLogo" alt="logo" id="custom-logo" src="../login/images/easyto_logo.png"/>
					<span class="systemName">停车场管理系统</span>
				</small>
			</a>
			<!-- /section:basics/navbar.layout.brand -->
		</div>

		<!-- #section:basics/navbar.dropdown -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation" style="margin-top: 10px;">
			<ul class="nav ace-nav">

				<li id="notice" class="light-blue">
				</li>
				<!-- #section:basics/navbar.user_menu -->
				<li class="light-blue">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img class="nav-user-photo" id="sys-user-avatar" src="../assets/images/avatars/avatar2.png" alt="avatar" />
						<span class="user-info">
									<small id="sys-user-role">欢迎您</small>
									<span id="sys-user-name"><%-user_name%></span>
								</span>
						<i class="ace-icon fa fa-caret-down"></i>
					</a>

					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<!--
						<li>
                            <a href="ajax.html#page/profile">
                                <i class="ace-icon fa fa-user"></i>个人信息
                            </a>
                        </li>
						<li class="divider"></li>-->
						<li>
							<a href="javascript:;" id="logout">
								<i class="ace-icon fa fa-sign-out"></i>注销
							</a>
						</li>
					</ul>
				</li>
				<!-- /section:basics/navbar.user_menu -->
			</ul>
		</div>

		<!-- /section:basics/navbar.dropdown -->
	</div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
	<script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<!-- #section:basics/sidebar -->
	<div id="sidebar" class="sidebar responsive m-left-sidebar">
		<script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
		</script>

		<ul class="nav nav-list m-left-list" id="m-left-list">
			<li class="active">
				<a data-roleid="" href="">
					<i class="menu-icon fa fa-desktop"></i>
					<span class="menu-text">初始化</span>
				</a>
			</li>
			<li>
				<a data-roleid="" href="">
					<i class="menu-icon fa fa-video-camera"></i>
					<span class="menu-text">系统设置</span>
				</a>
			</li>
		</ul><!-- /.nav-list -->

		<!-- #section:basics/sidebar.layout.minimize -->
		<div class="sidebar-toggle sidebar-collapse m-left-sidebar-toggle" id="sidebar-collapse">
			<i class="ace-icon fa fa-bars" data-icon1="ace-icon fa fa-bars" data-icon2="ace-icon fa fa-ellipsis-v"></i>
		</div>

		<!-- /section:basics/sidebar.layout.minimize -->
		<script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
		</script>
	</div>

	<!-- /section:basics/sidebar -->
	<div class="main-content">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a id="ilk_home" href="/admin">主页</a>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<!-- /section:basics/content.breadcrumbs -->
		<div class="page-content">
			<!-- ajax layout which only needs content area -->
			<div class="page-header hide">
				<form class="form-search" onsubmit="return false;">
					<h5 class="form-search-param">选择小区：</h5>
					<select class="form-search-select" name="complist" id="complist">
						<option value="1100">实地璟湖城</option>
						<option value="0100">cop测试</option>
						<option value="0200">安居园</option>
						<option value="0300">维景湾</option>
						<option value="0700">易达号测试</option>
					</select>
					<span class="input-icon align-middle">
						<i class="ace-icon fa fa-search"></i>
						<input class="search-query" name="searchString" type="text" placeholder="请输搜索信息" />
					</span>
					<button class="btn btn-sm btn-primary" id="searchBtn" type="button">查询</button>
				</form>
			</div><!-- /.page-header -->

			<div class="page-content-area" data-ajax-content="false">
				<div class="row">
					<div class="col-xs-12">
						<table id="grid-table"></table>
						<div id="grid-pager"></div>
					</div>
				</div>
			</div><!-- /.page-content-area -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->

	<div class="footer" style="">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				<span class="bigger-120">
					<span class="blue">易达号停车场管理系统 &copy; 2018 <span id="ilk-version"></span></span>
				</span>
			</div>
			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->

<!--脱机参数编辑框-->
<div id="offlineParam_edit" class="hide">
	<form class="form-horizontal" id="offlineParam-edit-form">
		<div class="form-group hide">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="serverIP_edit">IP地址</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="serverIP_edit" name="serverIP_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group hide">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="serverPort_edit">端口</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="serverPort_edit" name="serverPort_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="parkID_edit">车场编号</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="parkID_edit" name="parkID_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="isRecordCover_edit">出入场记录是否覆盖</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<select class="form-search-select col-xs-12 col-sm-9" name="isRecordCover_edit" id="isRecordCover_edit">
						<option value="1">覆盖</option>
						<option value="0">不覆盖</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="parkInOutFlag_edit">车场出入口标识</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<div class="clearfix">
						<select class="form-search-select col-xs-12 col-sm-9" name="parkInOutFlag_edit" id="parkInOutFlag_edit">
							<option value="0">车场入口</option>
							<option value="1">车场出口</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="monthcarAlarmDays_edit">固定车预警天数</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="monthcarAlarmDays_edit" name="monthcarAlarmDays_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="monthCarOpenType_edit">固定车开闸方式</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<select class="form-search-select col-xs-12 col-sm-9" name="monthCarOpenType_edit" id="monthCarOpenType_edit">
						<option value="0">人工开闸</option>
						<option value="1">自动开闸</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="tempCarOpenType_edit">临时车开闸方式</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<select class="form-search-select col-xs-12 col-sm-9" name="tempCarOpenType_edit" id="tempCarOpenType_edit">
						<option value="0">人工开闸</option>
						<option value="1">自动开闸</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="oneChannelMode_edit">是否启用单通道模式</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<select class="form-search-select col-xs-12 col-sm-9" name="oneChannelMode_edit" id="oneChannelMode_edit">
						<option value="0">否</option>
						<option value="1">是</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="onlineFlag_edit">是否在线模式</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<select class="form-search-select col-xs-12 col-sm-9" name="onlineFlag_edit" id="onlineFlag_edit">
						<option value="0">脱机</option>
						<option value="1">在线</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="tempCarForbiddenFlag_edit">临时车禁止出入场</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<select class="form-search-select col-xs-12 col-sm-9" name="tempCarForbiddenFlag_edit" id="tempCarForbiddenFlag_edit">
						<option value="0">可出入场</option>
						<option value="1">不可出入场</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="oneChannelWaitTime_edit">单通道重复车牌等待时间(单位:秒)</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="oneChannelWaitTime_edit" name="oneChannelWaitTime_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="normalModeWaitTime_edit">正常模式重复车牌等待时间(单位:秒)</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="normalModeWaitTime_edit" name="normalModeWaitTime_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="displayRefreshInterval_edit">脱机显示屏显示内容的刷新间隔(单位:秒)</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="displayRefreshInterval_edit" name="displayRefreshInterval_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="propertyLogo_edit">脱机显示屏默认显示的企业标识</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="propertyLogo_edit" name="propertyLogo_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
	</form>
</div>

<!--启用状态编辑框-->
<div id="enable_edit" class="hide">
	<form class="form-horizontal" id="enable-edit-form">
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="">是否启用</label>
			<div class="col-xs-12 col-sm-9">
				<div class="control-group">
					<div class="radio">
						<label>
							<input name="form-enable-radio" type="radio" class="ace">
							<span class="lbl"> 是</span>
						</label>
						<label>
							<input name="form-enable-radio" type="radio" class="ace">
							<span class="lbl"> 否</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<!--黑白名单查询框-->
<div id="blackWhileList_edit" class="hide">
	<form class="form-horizontal" id="blackWhileList-edit-form">
		<div class="form-group">
			<table id="grid-table-box"></table>
			<div id="grid-pager-box"></div>
		</div>
	</form>
</div>

</body>
</html>

<!-- basic scripts -->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='../assets/js/jquery.js'>"+"<"+"/script>");
	/* window.jQuery || document.write("<script src='http://guriddo.net/demo/js/jquery.min.js'>"+"<"+"/script>");  */
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>

<script src="/assets/js/jquery/jquery.min.js"></script>
<script src="/assets/js/jquery.validate.js"></script>
<script src="/assets/js/jquery/messages_zh.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/assets/js/jquery-ui.js"></script>

<!-- page specific plugin scripts -->
<!--<script src="../assets/js/date-time/bootstrap-datepicker.js"></script>-->
<script src="../assets/js/jqGrid/jquery.jqGrid.src.js"></script>
<script src="../assets/js/jqGrid/i18n/grid.locale-cn.js"></script>

<!-- ace scripts -->
<script src="../assets/js/ace/elements.scroller.js"></script>
<!--<script src="../assets/js/ace/elements.colorpicker.js"></script>
<script src="../assets/js/ace/elements.fileinput.js"></script>
<script src="../assets/js/ace/elements.typeahead.js"></script>
<script src="../assets/js/ace/elements.wysiwyg.js"></script>
<script src="../assets/js/ace/elements.spinner.js"></script>
<script src="../assets/js/ace/elements.treeview.js"></script>
<script src="../assets/js/ace/elements.wizard.js"></script>
<script src="../assets/js/ace/elements.aside.js"></script>-->
<script src="../assets/js/ace/ace.js"></script>
<script src="../assets/js/ace/ace.ajax-content.js"></script>
<!--<script src="../assets/js/ace/ace.touch-drag.js"></script>-->
<script src="../assets/js/ace/ace.sidebar.js"></script>
<script src="../assets/js/ace/ace.sidebar-scroll-1.js"></script>
<!--<script src="../assets/js/ace/ace.submenu-hover.js"></script>
<script src="../assets/js/ace/ace.widget-box.js"></script>
<script src="../assets/js/ace/ace.settings.js"></script>
<script src="../assets/js/ace/ace.settings-rtl.js"></script>
<script src="../assets/js/ace/ace.settings-skin.js"></script>
<script src="../assets/js/ace/ace.widget-on-reload.js"></script>
<script src="../assets/js/ace/ace.searchbox-autocomplete.js"></script>

<!-- inline scripts related to this page -->

<script src="../assets/js/template-native.js"></script>-->

<script src="../assets/js/jquery.gritter.js"></script>
<script src="../assets/js/ilk/utils.js"></script>
<script src="../assets/js/bootbox.js"></script>
<!--<script src="../assets/js/ilk/ajax.js"></script>-->

<!-- inline scripts related to this page -->
<script src="/assets/js/ilk/logout.js"></script>
<script src="/assets/js/ilk/devicelist.js"></script>
