<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>管理员</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" href="../assets/images/ilk/favicon.ico" />
	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="../assets/css/bootstrap.css" />
	<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../assets/css/ui.jqgrid.css" />
	<link rel="stylesheet" href="../assets/css/font-awesome.css" />
	<!-- text fonts -->
	<link rel="stylesheet" href="../assets/css/ace-fonts.css" />
	<!-- ace styles -->
	<link rel="stylesheet" href="../assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
	<!-- ilkService styles -->
	<link rel="stylesheet" href="../assets/css/ilk/ilk.css" />
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
	<![endif]-->
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../assets/css/ace-ie.css" />
	<![endif]-->
	<!-- ace settings handler -->
	<script src="../assets/js/ace-extra.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lte IE 8]>
	<script src="../assets/js/html5shiv.js"></script>
	<script src="../assets/js/respond.js"></script>
	<![endif]-->
	<!-- 样式异常 -->
	<link rel="stylesheet" href="../assets/css/jquery.gritter.css"/>
	<style type="text/css">
		.ace-nav > li {
			height: inherit;
			border-left: 0px;
		}
		.menu-text{
			width: 80px;
		}
		.dropdown-navbar.navbar-grey > li:hover {
			background-color: #FEE188;
		}
	</style>
</head>

<!-- 侧边栏菜单 -->
<script type="text/html" id="sideBarList">
	菜单项1
	<li>
		<a data-roleid="" href="">
			<i class="menu-icon fa fa-envelope"></i>
			<span class="menu-text">菜单项1</span>
		</a>
	</li>
	<li>
		<a data-roleid="" href="">
			<i class="menu-icon fa fa-envelope"></i>
			<span class="menu-text">菜单项2</span>
		</a>
	</li>
</script>

<!-- 功能菜单 -->
<script type="text/html" id="metro-list">
	<div class="m-metro2">
		<div class="metro-node">
			<div class="mn-content"><div>功能菜单1</div></div>
		</div>
		<div class="nav metro-cnode">
			<ul>
				<li title="功能菜单1">
					<a data-url="" href="">
						<span class="mcn-content">
							<i class="ht_icon KLP-iconfont"></i>
							<div>功能菜单11</div>
						</span>
					</a>
				</li>
				<li title="功能菜单2">
					<a data-url="" href="">
						<span class="mcn-content">
							<i class="ht_icon KLP-iconfont"></i>
							<div>功能菜单21</div>
						</span>
					</a>
				</li>
				<li title="">
					<a href="javascript:void(0);">
						<span class="mcn-content">
							<i class="mm-cnode-icons"></i>
							<span></span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</script>

<script type="text/html" id="noticeList">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		<i class="ace-icon fa fa-envelope icon-animated-bell"></i>
		<span class="badge badge-important"></span>
	</a>
	<ul class="dropdown-menu-right dropdown-navbar navbar-grey dropdown-menu dropdown-caret dropdown-close">
		<li>
			<a href="">
				<i class="btn btn-xs no-hover btn-black fa fa-comment"></i>
				<span class="pull-right badge badge-info">2</span>
			</a>
		</li>
	</ul>
</script>

<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default ilk-bg-header">
	<script type="text/javascript">
        try { ace.settings.check('navbar' , 'fixed') } catch(e) {}
	</script>

	<div class="navbar-container" id="navbar-container">
		<!-- #section:basics/sidebar.mobile.toggle -->
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only">切换侧边栏</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- /section:basics/sidebar.mobile.toggle -->
		<div class="navbar-header pull-left">
			<!-- #section:basics/navbar.layout.brand -->
			<a href="ajax.html" class="navbar-brand">
				<small>
					<img class="ilkLogo" alt="logo" id="custom-logo" src="../login/images/easyto_logo.png"/>
					<span class="systemName">停车场管理系统</span>
				</small>
			</a>
			<!-- /section:basics/navbar.layout.brand -->
		</div>

		<!-- #section:basics/navbar.dropdown -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation" style="margin-top: 10px;">
			<ul class="nav ace-nav">

				<li id="notice" class="light-blue">
				</li>
				<!-- #section:basics/navbar.user_menu -->
				<li class="light-blue">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img class="nav-user-photo" id="sys-user-avatar" src="../assets/images/avatars/avatar2.png" alt="avatar" />
						<span class="user-info">
									<small id="sys-user-role">欢迎您</small>
									<span id="sys-user-name"><%-user_name%></span>
								</span>
						<i class="ace-icon fa fa-caret-down"></i>
					</a>

					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<!--
						<li>
                            <a href="ajax.html#page/profile">
                                <i class="ace-icon fa fa-user"></i>个人信息
                            </a>
                        </li>
						<li class="divider"></li>-->
						<li>
							<a href="javascript:;" id="logout">
								<i class="ace-icon fa fa-sign-out"></i>注销
							</a>
						</li>
					</ul>
				</li>
				<!-- /section:basics/navbar.user_menu -->
			</ul>
		</div>

		<!-- /section:basics/navbar.dropdown -->
	</div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
	<script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<!-- #section:basics/sidebar -->
	<div id="sidebar" class="sidebar responsive m-left-sidebar">
		<script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
		</script>

		<ul class="nav nav-list m-left-list" id="m-left-list">
			<li class="active">
				<a data-roleid="" href="">
					<i class="menu-icon fa fa-desktop"></i>
					<span class="menu-text">初始化</span>
				</a>
			</li>
		</ul><!-- /.nav-list -->

		<!-- #section:basics/sidebar.layout.minimize -->
		<div class="sidebar-toggle sidebar-collapse m-left-sidebar-toggle" id="sidebar-collapse">
			<i class="ace-icon fa fa-bars" data-icon1="ace-icon fa fa-bars" data-icon2="ace-icon fa fa-ellipsis-v"></i>
		</div>

		<!-- /section:basics/sidebar.layout.minimize -->
		<script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
		</script>
	</div>

	<!-- /section:basics/sidebar -->
	<div class="main-content">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a id="ilk_home" href="/admin">主页</a>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<!-- /section:basics/content.breadcrumbs -->
		<div class="page-content">
			<!-- ajax layout which only needs content area -->
			<div class="page-header">
				<form class="form-search" onsubmit="return false;">
					<span class="input-icon align-middle">
						<i class="ace-icon fa fa-search"></i>
						<input class="search-query" name="searchString" type="text" placeholder="请输搜索信息" />
					</span>
					<button class="btn btn-sm btn-primary" id="searchBtn" type="button">查询</button>
				</form>
			</div><!-- /.page-header -->

			<div class="page-content-area" data-ajax-content="false">
				<div class="row">
					<div class="col-xs-12">
						<table id="grid-table"></table>
						<div id="grid-pager"></div>
					</div>
				</div>
			</div><!-- /.page-content-area -->
		</div><!-- /.page-content -->
	</div><!-- /.main-content -->

	<div class="footer" style="">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				<span class="bigger-120">
					<span class="blue">易达号停车场管理系统 &copy; 2018 <span id="ilk-version"></span></span>
				</span>
			</div>
			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->

<!--编辑框-->
<div id="dialog_edit" class="hide">
	<form class="form-horizontal" id="edit-form">
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="complist">小区名称</label>
			<div class="col-xs-12 col-sm-9">
				<select name="complist" id="complist" class="col-xs-12 col-sm-9">
					<!--<option value="1">1</option>-->
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="gatewaylist">网关名称</label>
			<div class="col-xs-12 col-sm-9">
				<select name="gatewaylist" id="gatewaylist" class="col-xs-12 col-sm-9">
					<!--<option value="1">1</option>-->
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="mzm_mode_edit">是否启用门中门模式</label>
			<div class="col-xs-12 col-sm-9">
				<!--<div class="clearfix">-->
					<!--<input type="text" id="mzm_mode_edit" name="mzm_mode_edit" placeholder="" class="col-xs-12 col-sm-9" />-->
				<!--</div>-->
				<select name="gatewaylist" id="mzm_mode_edit" class="col-xs-12 col-sm-9">
					<option value="10000000">是</option>
					<option value="00000000">否</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="plate_picture_keep_edit">车牌图片存储天数</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<div class="ace-spinner middle touch-spinner" style="width: 100px;">
						<div class="input-group">
							<div class="spinbox-buttons input-group-btn">
								<button type="button" class="btn spinbox-down btn-xs btn-danger" onclick="subtract('plate_picture_keep_edit')">
									<i class=" ace-icon ace-icon fa fa-minus smaller-75"></i>
								</button>
							</div>
							<input type="text" class="input-mini spinbox-input form-control" id="plate_picture_keep_edit">
							<div class="spinbox-buttons input-group-btn">
								<button type="button" class="btn spinbox-up btn-xs btn-success" onclick="increase('plate_picture_keep_edit')">
									<i class=" ace-icon ace-icon fa fa-plus smaller-75"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="record_keep_edit">记录存储天数</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<div class="ace-spinner middle touch-spinner" style="width: 100px;">
						<div class="input-group">
							<div class="spinbox-buttons input-group-btn">
								<button type="button" class="btn spinbox-down btn-xs btn-danger" onclick="subtract('record_keep_edit')">
									<i class=" ace-icon ace-icon fa fa-minus smaller-75"></i>
								</button>
							</div>
							<input type="text" class="input-mini spinbox-input form-control" id="record_keep_edit">
							<div class="spinbox-buttons input-group-btn">
								<button type="button" class="btn spinbox-up btn-xs btn-success" onclick="increase('record_keep_edit')">
									<i class=" ace-icon ace-icon fa fa-plus smaller-75"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="server_ip_edit">服务IP</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="server_ip_edit" name="server_ip_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="websocket_port_edit">端口</label>
			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					<input type="text" id="websocket_port_edit" name="websocket_port_edit" placeholder="" class="col-xs-12 col-sm-9"/>
				</div>
			</div>
		</div>
	</form>
</div>
<!--编辑框-->
<div id="initData" class="hide">
	确定执行？
</div>

</body>
</html>

<!-- basic scripts -->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='../assets/js/jquery.js'>"+"<"+"/script>");
	/* window.jQuery || document.write("<script src='http://guriddo.net/demo/js/jquery.min.js'>"+"<"+"/script>");  */
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>

<script src="/assets/js/jquery/jquery.min.js"></script>
<script src="/assets/js/jquery.validate.js"></script>
<script src="/assets/js/jquery/messages_zh.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/assets/js/jquery-ui.js"></script>

<!-- page specific plugin scripts -->
<!--<script src="../assets/js/date-time/bootstrap-datepicker.js"></script>-->
<script src="../assets/js/jqGrid/jquery.jqGrid.src.js"></script>
<script src="../assets/js/jqGrid/i18n/grid.locale-cn.js"></script>

<!-- ace scripts -->
<script src="../assets/js/ace/elements.scroller.js"></script>
<!--<script src="../assets/js/ace/elements.colorpicker.js"></script>
<script src="../assets/js/ace/elements.fileinput.js"></script>
<script src="../assets/js/ace/elements.typeahead.js"></script>
<script src="../assets/js/ace/elements.wysiwyg.js"></script>
<script src="../assets/js/ace/elements.spinner.js"></script>
<script src="../assets/js/ace/elements.treeview.js"></script>
<script src="../assets/js/ace/elements.wizard.js"></script>
<script src="../assets/js/ace/elements.aside.js"></script>-->
<script src="../assets/js/ace/ace.js"></script>
<script src="../assets/js/ace/ace.ajax-content.js"></script>
<!--<script src="../assets/js/ace/ace.touch-drag.js"></script>-->
<script src="../assets/js/ace/ace.sidebar.js"></script>
<script src="../assets/js/ace/ace.sidebar-scroll-1.js"></script>
<!--<script src="../assets/js/ace/ace.submenu-hover.js"></script>
<script src="../assets/js/ace/ace.widget-box.js"></script>
<script src="../assets/js/ace/ace.settings.js"></script>
<script src="../assets/js/ace/ace.settings-rtl.js"></script>
<script src="../assets/js/ace/ace.settings-skin.js"></script>
<script src="../assets/js/ace/ace.widget-on-reload.js"></script>
<script src="../assets/js/ace/ace.searchbox-autocomplete.js"></script>

<!-- inline scripts related to this page -->

<script src="../assets/js/template-native.js"></script>-->

<script src="../assets/js/jquery.gritter.js"></script>
<script src="../assets/js/ilk/utils.js"></script>
<script src="../assets/js/bootbox.js"></script>
<!--<script src="../assets/js/ilk/ajax.js"></script>-->

<!-- inline scripts related to this page -->
<script src="/assets/js/ilk/logout.js"></script>
<script src="/assets/js/ilk/sysconfig.js"></script>
