<!doctype html>
<html lang="en">
<head>
	<base href="/GT_Service/">
	<meta charset="UTF-8">
	<title>服务器异常</title>
	<link rel="stylesheet" href="html/index/error/css/style.css">
	<script src="html/index/error/js/jquery.js"></script>
	<script src="html/index/error/js/public.js"></script>
</head>
<body>
<div id="content" class="cf">
	<div id="duobei_wrap">
		<div class="logo_wrap cf">
			<a href="#" id="logo"></a>
			<div id="title"><i>停车收费管理系统</i></div>
		</div>
		<div class="reason">
			<p class="not_found_tip">Internal Server Error  :( 服务器遇到了一个未曾预料的状况，导致了它无法完成对请求的处理!</p>
			<p class="possible">请尝试以下操作：</p>
			<ul>
				<li>请与网站管理员联系，通知他们出现错误的场景。 </li>
			</ul>
		</div>
	</div>
	<!-- #duobei_wrap -->
	<div class="line"></div>

	<div class="not_found">
		<i class="ribbon"></i>
		<div class="not_found_404 cf">
			<span>5</span>
			<span>0</span>
			<span>0</span>
		</div>
		<div class="btn">
			<a href="login/login.do" class="button button-rounded">登录页</a>
			<a href="#" class="button button-rounded cancle">返回上页</a>
		</div>   
	</div>
	<!-- not_found -->
	</div>
</body>
</html>