
@font-face {font-family: "KLP-iconfont";
  src: url('KLP-iconfont.eot?t=1478571773394'); /* IE9*/
  src: url('KLP-iconfont.eot?t=1478571773394#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('KLP-iconfont.woff?t=1478571773394') format('woff'), /* chrome, firefox */
  url('KLP-iconfont.ttf?t=1478571773394') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('KLP-iconfont.svg?t=1478571773394#KLP-iconfont') format('svg'); /* iOS 4.1- */
}

.KLP-iconfont {
  font-family:"KLP-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.KLP-kefu:before { content: "\3438"; }

.KLP-xiangmutongji:before { content: "\e6a7"; }

.KLP-icon19:before { content: "\e692"; }

.KLP-huiyuanbaozhanganxinfukuan:before { content: "\e630"; }

.KLP-qiyerukou:before { content: "\e7e4"; }

.KLP-msnui-task-count:before { content: "\e760"; }

.KLP-quanbuquyu:before { content: "\e665"; }

.KLP-banbengengxin:before { content: "\e627"; }

.KLP-0008:before { content: "\e66a"; }

.KLP-richangxunjian:before { content: "\e65c"; }

.KLP-cheliangweixiu:before { content: "\e616"; }

.KLP-96:before { content: "\e663"; }

.KLP-xitong:before { content: "\e720"; }

.KLP-fuwuxiangmu:before { content: "\e70f"; }

.KLP-fapiaogenzongicon:before { content: "\e640"; }

.KLP-a801:before { content: "\e688"; }

.KLP-loudong:before { content: "\e64f"; }

.KLP-mendoor13:before { content: "\e6f7"; }

.KLP-yezhuguanli:before { content: "\e614"; }

.KLP-hujiaobaoji:before { content: "\e6fc"; }

.KLP-tousu:before { content: "\e602"; }

.KLP-shujukuyunxingqingkuang:before { content: "\e6d0"; }

.KLP-faxian:before { content: "\e604"; }

.KLP-dingdan:before { content: "\e66c"; }

.KLP-chanpinfenlei:before { content: "\e65a"; }

.KLP-chanpinqingdan:before { content: "\e67d"; }

.KLP-wuyeguanli:before { content: "\e65b"; }

.KLP-shebeibaojing:before { content: "\e6b2"; }

.KLP-tongji:before { content: "\e623"; }

.KLP-menjinpeizhi:before { content: "\e664"; }

.KLP-tongji1:before { content: "\e61b"; }

.KLP-tousu1:before { content: "\e68e"; }

.KLP-guzhangbaojing:before { content: "\e60f"; }

.KLP-yijianqiuzhu:before { content: "\e612"; }

.KLP-pduanzhucaidanxubaozhuizong:before { content: "\e6cf"; }

.KLP-jian:before { content: "\e63a"; }

.KLP-12menjinkai:before { content: "\e610"; }

.KLP-jiaruheimingdan:before { content: "\e68c"; }

.KLP-pgjs-copy:before { content: "\e605"; }

.KLP-taocan:before { content: "\e633"; }

.KLP-manyidu:before { content: "\e865"; }

.KLP-xiangmuguanli:before { content: "\e79f"; }

